@media screen and (max-width: 600px) {

    .swiper_slide_articulo {
        width: 70%!important;
        height: 90%;
    }
    
    .swiper-pagination{
        display: none!important;
    }
    
}