@import url("./main.css");



#carrousel_articulos {
    position: absolute;
    width: 100%;
    height: 40rem;
    /* background-color: aqua; */
    text-align: center;
    overflow-x: hidden;
}

.mySwiper {
    width: 95%;
    height: 90%;
    padding-top: 2rem;
}


.swiper_slide_articulo {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px 20px;
    box-shadow: 5px 10px 30px 0px var(--primary-color);
}

.carrousel_img {
    width: 100%;
    height: 80%;
    border-radius: 20px 20px;
    object-fit: contain;
 

}


.carrousel_span {
    padding-top: 1rem;
    font-size: large;
    font-family: var(--primary-font);
    color: var(--four-color);
}

.carrousel_p {
    font-family: var(--primary-font);
    color: var(--four-color);
}

.carrousel_icon {
    width: 2.6rem;
    height: 2.6rem;
    position:absolute;
    top: 5px;
    right: 10px;
    color: var(--four-color);
    cursor: pointer;
   
}
.carrousel_icon_img{
    width: 100%;
    height: 100%;

}
.carrousel_icon:hover {
   width: 2.8rem;
   height: 2.8rem;
   transition-property: all;
   transition-duration: 200ms;
   transition-timing-function: ease-in-out; 
}


/* estilos del swiper de ayer */
.swiperYear{
    padding: 1rem;
}
/* .swiper-button-next-prensa{
    background-color: aqua;
} */



/* estilos de las fotos  */
#Fotos{
    width: 100%;
    height: 70vh;
    /* background-color: brown; */
}
.swiperFotos{
    width: 95%;
    height: 95%;
    /* background-color: blueviolet; */
}

.swiper-wrapper-fotos{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
 .swiper_slide_fotos{
    margin-top: 20px;
    width: 24%;   
    height: 80%;
    border-radius: 20px 20px;
    box-shadow: 5px 5px 20px 0px var(--primary-color);
} 

.imgFotos{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* background-color: green; */
  
  
} 